services:

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: drift_api
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - minio
    environment:
      MINIO_URL: "http://minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      RABBITMQ_HOST: "rabbitmq"

  streamlit:
    build:
      context: .
      dockerfile: streamlit_app/Dockerfile
    container_name: drift_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
      - minio

  worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    container_name: drift_worker
    depends_on:
      - rabbitmq
      - minio
      - api
    environment:
      MINIO_URL: "http://minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      RABBITMQ_HOST: "rabbitmq"

  minio:
    image: minio/minio:latest
    container_name: drift_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: drift_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  minio_data:
